h1{
	text-align: center;
	font-size: 80px;
	margin-top: 0px;
	margin-bottom: 10px;
}
h2{
	text-align: center;
	word-spacing: 20px;
}
#content {
	text-align: left;
	margin-right:125px;
	margin-left: 125px;
	border-bottom: solid 2px black;
}
#footer {
	text-align: center;
	word-spacing: 100px;
	bottom:0px;
	margin-top: 50px

}